<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Christian Schulze">

    <!-- Bootstrap -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- main style -->
    <link rel="stylesheet" media="screen" href="/public/css/main.css">

    <!-- jQuery -->
    <script src="/bower_components/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>

    <title>{{ title }}</title>
</head>

<body class="site">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"></button>
                <a class="navbar-brand" href="#">Badeseen</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Dashboard</a></li>
                    <li><a href="/api">API</a></li>
                    <li><a href="/doc/index.html">Documentation</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li>
                        <a href="/">Status</span></a>
                    </li>
                </ul>

                <ul class="nav nav-sidebar">
                    <li>
                        <a href="/lakes">Lakes <span class="badge">{{ lake_count }}</span></a>
                        <a href="/import">Import Data</a>
                    </li>
                </ul>

                <p><small>Dies ist ein Projekt des OK Lab Gießen. Die Inhalte stehen unter der MIT-Lizenz auf <a href="https://github.com/CodeForGiessen/badeseenservice" title="Quelltext">GitHub</a> zur Verfügung.</small></p>

                <br>

                <a href="http://codefor.de/giessen/" title="Code for Gießen">
                    <img alt="" width="100%" src="/public/img/cfgi-black.svg">
                </a>
            </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                {{{body}}}
            </div>
        </div>
    </div>

    <!-- Bootstrap -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>

